<h2 class="text-4xl flex justify-center mb-4">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter email", class: "text-indigo-600" %>
  </div>

  <div class="mb-4">
    <%= f.label :username %><br />
    <%= f.text_field :username, placeholder: "Enter username", class: "text-indigo-600" %>
  </div>

  <div class="mb-4">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter password", class: "text-indigo-600" %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class: "text-indigo-600" %>
  </div>

  <div class="btn bg-color-primary hover:bg-color-secondary mb-4">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<div class="">Already a user?</div>
<div class="link text-indigo-600"><%= render "devise/shared/links" %></div>
