<h1 class="flex justify-center text-4xl mb-8">Search for a Deck or User</h1>
<div class="flex justify-center"><%= render 'shared/search_form'%> </div>
<h1> <%= pluralize(@decks.count, "Result") if params[:q].present? %> </h1>

<% if params[:q].present? %>
<div class="overflow-x-auto">
  <table class="table">
    <%# head %>
    <thead>
      <tr>
        <th><%= sort_link(@q, :name, "Deck Name", default_order: :asc) %></th>
        <th><%= sort_link(@q, :updated_at, "Last Modified") %></th>
        <th><%= sort_link(@q, :username, "Username") %></th>
      </tr>
    </thead>
    <%# body %>
      <tbody class="">
        <% @decks.each do |deck| %>
          <tr class="hover">
            <td><%= link_to deck.name, deck %> </td>
            <td><%= deck.updated_at.strftime("%B %d, %Y") %></td>
            <td><%= link_to deck.user.username, user_path(deck.user)  %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>