<h1 class="flex justify-center text-4xl mb-8"><%= "#{@user.username}'s Decks" %></h1>
<% if @user.decks.empty? %>
  <p class="text-indigo-600"><%= "#{@user.username} currently has no decks created." %></p>
<% else %>
  <div class="overflow-x-auto">
    <table class="table">
      <%# head %>
      <thead>
        <tr>
          <th>No.</th>
          <th>Deck Name</th>
          <th>Last modified</th>
        </tr>
      </thead>
      <%# body %>
        <tbody class="">
          <% @decks.each_with_index do |deck, index| %>
            <tr class="hover">
              <td><%= @pagy.offset + index + 1 %></td>
              <td class="link text-color-primary"><%= link_to deck.name, deck %> </td>
              <td><%= deck.updated_at.strftime("%B %d, %Y") %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
<%end%>
<br>
  <%= pagy_nav(@pagy).html_safe %>