<div class="">
  <h1 class="flex justify-center text-4xl"><%= @deck.name %></h1>
  <h1>
    <div class="flex">
      <h1 class="flex justify-start">Cards in this deck: <%= @flashcards.count %></h1>
      <%# upvote  %>
      <%= button_to deck_votes_path(@deck, vote: { type: "Upvote" }) do %> 
        <%= heroicon "hand-thumb-up", options: {class: "w-12 h-12 text-blue-600 mr-8 "} %>
      <% end %>

      <%# downvote %>
      <%= button_to deck_votes_path(@deck, vote: { type: "Downvote" }) do %>
        <%= heroicon "hand-thumb-down", options: {class: "w-12 h-12 text-red-600" }%>
      <% end %>
    </div>
  
  </h1>
</div>

<div class="">
  <table class="table">
  <%# header %>
    <thead>
      <tr>
        <th>No.</th>
        <th>Front</th>
        <th>Back</th>
        <th>Last Updated At</th>
      </tr>
    </thead>
    <%# body %>
    <tbody>
     <% @flashcards.each_with_index do |flashcard, index| %>
      <tr>
        <td><%= @pagy.offset + index + 1 %>
        <td><%= flashcard.front %>
        <td><%= flashcard.back %>
        <td><%= flashcard.updated_at.strftime("%B %d, %Y at %I:%m %p") %>
        <% if current_user == flashcard.user %>
          <%# dropdown menu %>
          <td> 
            <details class="dropdown">
            <summary class="m-1 btn bg-color-primary hover:bg-color-secondary ">Actions</summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
              <li><%= link_to "Edit Flashcard", edit_flashcard_path(flashcard), class: "text-gray-300 hover:text-gray-200 ml-8" %></li>
              <li><a><%= button_to "Delete", flashcard, method: :delete, data: { turbo_confirm: "Are you sure" }, class: "text-gray-300 hover:text-gray-200 ml-8" %> </a></li>
              </ul>
            </details>
          </td>
        <% end %>
      </tr>
     <%end %>
    </tbody>
  </table>
</div>
<%# add card or dupe deck %>
<% if current_user == @deck.user %>
  <div class="text-color-primary hover:text-color-secondary mt-8"><%= link_to "Click here to add a card", new_flashcard_path  %> </div>
<% else %>
    <div class="btn bg-color-primary hover:bg-color-secondary mt-8"> <%= link_to 'Add Deck', duplicate_deck_path(@deck), method: :post %> </div>
<% end %>
<br>
<br>
<%= pagy_nav(@pagy).html_safe %>