<h1 class="flex justify-center text-4xl mb-8">Search for a Deck</h1>
<div class="flex justify-center">
  <%= search_form_for(@q, url: decks_searches_path, method: :get) do |f| %>
    <%= f.search_field :name_i_cont_any, placeholder: "Search a deck..." %>
    <%= f.submit "Search", class: "btn bg-color-secondary hover:bg-color-primary mb-8" %>
  <% end %>
</div>

<% if params[:q].present? %>
<div class="overflow-x-auto">
  <table class="table">
    <%# head %>
    <thead>
      <tr>
        <th>No.</th>
        <th><%= sort_link(@q, :name, "Deck Name", default_order: :asc) %></th>
        <th><%= sort_link(@q, :updated_at, "Last Modified") %></th>
        <th><%= sort_link(@q, :vote_score, "Rating") %></th>
        <th><%= sort_link(@q, :user_username, "Owner") %></th>
      </tr>
    </thead>
    <%# body %>
      <tbody class="">
        <% @decks.each_with_index do |deck, index| %>
          <tr class="hover">
            <td><%= @pagy.offset + index + 1 %></td>
            <td class="link text-color-primary"><%= link_to deck.name, deck %> </td>
            <td><%= deck.updated_at.strftime("%B %d, %Y") %></td>
            <td><%= deck.vote_score %></td>
            <td class="link text-color-primary"><%= link_to deck.user.username, user_path(deck.user)  %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
<br>
<%= pagy_nav(@pagy).html_safe %>