<header class="py-4 flex justify-between mx-16">

<%#logo%>
<nav class="flex">
  <%= link_to "Flashcard App", root_path, class: "text-xl text-indigo-600 hover:text-indigo-400" %>
  <% if current_user %>
    <ul class="flex my-auto ml-6 text-xl">
      <li class="mr-3 hover:text-gray-300"> <%= link_to "Decks", decks_path %> </li>
      <li class="mr-3 hover:text-gray-300"> <%= link_to "Add", new_flashcard_path %> </li>
      <li class="mr-3 hover:text-gray-300"> <%= link_to "Search", search_path %> </li>
    </ul>
  <% end %>
</nav>

<%#sign-up%>
<nav>
  <% if current_user %>
    <div class="flex">
    <%= link_to "Edit Account", edit_user_registration_path, class: "text-gray-400 hover:text-gray-300 mr-4" %>
    <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "text-gray-400 hover:text-gray-300 mr-1" %>
    </div>
  <% else %>
    <%= link_to "Log in", new_user_session_path, class: "text-gray-400 hover:text-gray-300 mr-1" %>
    <%= link_to "Sign up", new_user_registration_path , class: "rounded-md p-2 text-slate-400 bg-color-primary hover:bg-color-secondary"%>
  <%end%>
</nav>

</header>
<div class="border-b border-slate-700 mb-4"></div>