<!DOCTYPE html>
<html>
  <head>
    <title>Flashcard App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body class="  bg-slate-900 text-slate-400">
    <%= render 'layouts/header' %>

    <%#page-container %>
    <div class="mx-80">

      <%# flash/error messages %>
      <div class="">
        <%= render 'shared/flash' %>
        <%= render 'shared/flash_error' %>
      </div>
      
      <%#devise error messages %>
      <div>
        <p class=""><%= notice %></p>
        <p class=""><%= alert %></p>
      </div>
      
      <div class="h-screen"><%= yield %></div>
    </div>
  </body>
</html>
